@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Biblioteket</h1>
    <p>Fånga kunskap, ett kapitel i taget!</p>
</div>


<div class="image-container">
    <img src="Images/blomgirlang-gron-1.jpg" alt="flower" width="100%" height="30">
</div>

